{
  "openapi": "3.1.0",
  "$schema": "https://spec.actionschema.com/openapi.json",
  "x-actionschema": "0.0.1",
  "info": {
    "title": "API Specification",
    "version": "1.0.0",
    "description": "API specification for search endpoints"
  },
  "security": [{ "oauth2": [] }],
  "servers": [{ "url": "https://search.actionschema.com/api" }],
  "paths": {
    "/search/providers": {
      "get": {
        "summary": "Search providers",
        "description": "Retrieve a list of providers, optionally filtered by a search query",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query to filter providers",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "https://search.actionschema.com/providers.schema.json"
                    },
                    "createdAt": {
                      "type": "integer",
                      "description": "Timestamp of when the response was created"
                    },
                    "version": {
                      "type": "integer",
                      "description": "API version. Useful for cache."
                    }
                  },
                  "required": ["result", "createdAt", "version"]
                }
              }
            }
          }
        }
      }
    },
    "/summarizeOpenapi": {
      "get": {
        "summary": "Summarize OpenAPI Specification",
        "description": "Get all operationId/summary pairs for any OpenAPI specification in text or JSON format.",
        "operationId": "summarizeOpenapi",
        "parameters": [
          {
            "name": "openapiUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL of the OpenAPI specification to summarize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsWithTags"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "OperationsWithTags": {
        "$ref": "https://search.actionschema.com/operations-with-tags.schema.json"
      }
    },

    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.actionschema.com/oauth/github/login",
            "tokenUrl": "https://auth.actionschema.com/oauth/access_token",
            "scopes": {
              "admin": "Full access to all services"
            }
          }
        }
      }
    }
  }
}
